In [7]:
i=1
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [8]:
i=2
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [9]:
i=3
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [10]:
i=4
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [11]:
i=5
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [12]:
i=6
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [13]:
i=7
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [14]:
i=8
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [15]:
i=9
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [16]:
i=10
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [17]:
i=11
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

In [18]:
i=12
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [19]:
i=13
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

In [20]:
i=14
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

In [21]:
i=15
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [22]:
i=16
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160

In [23]:
i=17
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170

In [24]:
i=18
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180

In [25]:
i=19
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

In [26]:
i=20
for multiply in range(1,11):
    result=i*multiply
    print(i,'x',multiply,'=',result)

20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200